/* Large Screens (Desktops/Laptops) */
@media screen and (max-width: 1400px) {
  #profile {
      height: 83vh;
      margin-bottom: 6rem;
  }
  .about-containers {
      flex-wrap: wrap;
  }
  #contact,
  #projects {
      height: fit-content;
  }
}

/* Medium Screens (Tablets) */
@media screen and (max-width: 1200px) {
  #desktop-nav {
      display: none;
  }
  #hamburger-nav {
      display: flex;
  }
  #experience,
  .experience-details-container {
      margin-top: 2rem;
  }
  #profile,
  .section-container {
      display: block;
  }
  .arrow {
      display: none;
  }
  section,
  .section-container,
  .about-details-container {
      text-align: left;
      padding: 3rem 0;
  }
  .about-pic,
  .section__text,
  .section__pic-container {
      width: 100%;
  }
  .about-details-container {
      margin: 1rem auto;
  }
}

/* Small Screens (Mobile Devices) */
@media screen and (max-width: 768px) {
  body {
      font-size: 90%;
  }
  .section__text,
  .section__pic-container {
      width: 100%;
      text-align: center;
  }
  .section__text__p1,
  .title,
  .section__text__p2 {
      margin: 0.5rem 0;
  }
  .section__text {
      margin-left: 0;
  }
  .nav-links {
      flex-direction: column;
      text-align: center;
  }
  .certifications-container,
  .experience-details-container {
      flex-direction: column;
      align-items: center;
  }
  .certification-box,
  .details-container {
      margin: 1rem auto;
  }
  footer nav ul {
      flex-direction: column;
      align-items: center;
  }
  footer nav ul li {
      margin: 1rem 0;
  }
  .contact-info-upper-container {
      flex-direction: column;
      align-items: center;
  }
  .contact-info-container {
      margin: 1rem 0;
  }
}
